* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to bottom, #000046, #1cb5e0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /* width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    /* background: #ffff;
    border-radius: 15px;
    height: 450px;
    max-width: 450px;
    padding: 16px 25px;
    position: absolute; */
    /*
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    */

}

form {
    background: #ffff;
    padding: 16px 25px;
    padding-top: 30px;
    /* height: 450px; */
    border-radius: 10px;
}

form h5 {
    color: rgb(20, 73, 220);
    font-weight: 600;
}

h2 {
    color: #ffff;
    font-weight: 600;
    font-family: sans-serif;
}

h1 span {
    color: #043150;
}

form .d-grid button {
    /* background: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #1fa2ff 100%); */
    padding: 0.75rem 2.10rem;
    border: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    border-radius: 10px;
}

form .d-grid button:hover {
    transform: scale(1.03);
    letter-spacing: 0.2em;

}

.scro{
    background: #ffff;
    padding: 16px 25px;
    padding-top: 30px;
    border-radius: 10px;

    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    /* border-radius: 50px; */
}

.scro::-webkit-scrollbar {
    width: 10px;
    /* Tamaño del scroll en vertical */
    height: 10px;
    /* Tamaño del scroll en horizontal */
    /* display: none; */
    /* Ocultar scroll */
}

.scro::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.scro::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scro::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

